header {
    width: fit-content;
    display: flex;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 2);
    gap: var(--spacing);

    background: linear-gradient(
        to right,
        var(--blur-color) 50%,
        transparent 95%
    );
    backdrop-filter: blur(var(--blur-intensity));
}

header > div.spacer {
    width: 5vw;
}

header > h1 {
    margin: 0;
    font-size: var(--font-size-title);
    font-weight: lighter;
    font-family: accent;
}

header > nav > ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: calc(var(--spacing) / 2);
    height: 100%;

    list-style: none;
    font-size: var(--font-size-nav);
}

header > nav > ul > li > a {
    color: var(--text-color);
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: var(--accent-color-light);
}
